<div class="content">
	<div class="title">
		<img src='https://www.google.com/images/srpr/logo11w.png'/>
	</div>

	<div class="content-box">
		<ul>
			<li>
				<div class = "addMic">
					<input type="text">
				</div>
			</li>
			<div class = "bplusmic">
				<li id="button">
					<input type="submit" value="Google Search">
					<input type = "submit" value="I'm Feeling Lucky">			
				</li>
				<li>
			</di>
		</ul>
	</div>
</div>
