<div class="content">
	<div class="title">
		<img src='https://www.google.com/images/srpr/logo11w.png'/>
	</div>

	<div class="content-box">
		<ul>
			<li>
				<input type="text">
			</li>
			<li id="button">
				<input type="submit" value="Google Search">
				<input type = "submit" value="I'm Feeling Lucky">			
			</li>
		</ul>
	</div>
</div>
