/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body {
 	background-color: white;
 	font-family: Helvetica, Arial, sans-serif;
 	font-size: 13px;
 	line-height: 17px;
 	margin: 0;
 	padding: 0;
 }


 .nav {
 	position: fixed;
 	width: 100%;
 	height: 42px;
 	text-align: right; 	
 	padding-left: 330px;
 }

 ul {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 }

 .nav li {
 	display: inline;
 	float: left;
 }

 #top-logo a{
 	background-repeat: no-repeat;
 	color: transparent;
 	margin-top: 10px;
 	margin-left: 2%;
 }

 #right-links {
 	float: right;
 	margin-right: 2%;
 }

 .nav-link {
 	padding: 10px;
 	padding-top: 13px;
 	padding-bottom: 14px;
 	text-decoration: none;
 	color: #666;
 	float: right;
 	text-align: right;

 }

 .nav-link:hover {
 	text-decoration: underline;
 }

#button2 {
	margin-top: 10px;
	width: 410px;
}

#button2 input {
	width: 70px;
	height: 28px;
	border-radius: 3px;
	color: white;
	font-size: 12px;
	background-color: #4387fd;
	float: left;
	border: 1px solid #4285f4;
	padding: 0 12px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 17px;

}

.floater {
	float: right;
}

.navbar {
	text-align: right;
}

.nav3 {
	position: relative;
 	height: 42px;
 	width: 50%;
 	text-align: left;
 	float: right;
}

.nav2 {
	position: fixed;
 	height: 42px;
 	width: 50%;
 	text-align: left;
 	float: left;
 }

 .nav2 li {
 	display: inline;
 	float: left;
 }

.footer {
 	position: absolute;
 	width: 100%;
 	text-align: left; 	
 	bottom: 0;
 	border-top: 1px solid #ccc;
 	background-color: #F2F2F2;

 }

 .nav3 li {
 	display: inline;
 	float: right;

 }

 img {
 	padding-top: 10px;
 	padding-right: 5px;
 }