.content {
	position: relative;
	width: 974px;
	margin-left: auto;
	margin-right: auto;
	padding: 120px;
	top: 60px;

}

.title{
	font-size: 22px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.content img{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 200px;

}

.content a{
	text-decoration: none;
	color: #069;
	font-size: 11px;
	padding-left: 5px;
	margin-left: auto;
	margin-right: auto;
}

.content label {
	font-weight: bold;
	line-height: 33px;
	width: 110px;
	float: left;
	text-align: right;
	font-weight: bold;
	padding-right: 8px;

}

#button input{
	color: white;
	font-size: 12px;
}



#button {
	margin-top: 10px;
	width: 410px;
	margin-left: 123px;

}

#button input {
	width: 120px;
	height: 29px;
	border-radius: 2px;
	border: 1px solid #dcdcdc;
	border-color: rbga(0,0,0,0.1);
	color: #444;
	font-size: 11px;
	background-color: #F5F5F5;
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
	font-family: Arial;
	font-weight: bold;
	margin-left: 10px;
}

.title h1 {
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
}


.content li {
	margin: 4px;
	padding-top: 4px;
	margin-left: auto;
	margin-right: auto;

}

.content input{
	font-size: 20px;
	width: 500px;
}

.content-box{
	position: relative;
	width: 470px;
	background-color: #fff;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

.addMic input{
	background: url(data:image/gif;base64,R0lGODlhHAAmAKIHAKqqqsvLy0hISObm5vf394uLiwAAAP///yH5BAEAAAcALAAAAAAcACYAAAO9eLpMIMYIQJi9DcYtKv6KtnHgB4yoAZSXKAyDy1rjoAzjzOQLrx8+4OanCAZnxiExGSEKmz3lj2lwUq3SZ3WZPbKuXGgxu9t4tLYDTkpIRQILF0x2G4lWipM7gj/oJQUkcXsCDCIFATULBCIcZ2tvB3QLDxETFnR/BgU/gRt9jX0gnpYMkJZpFzEoqQqJKAIBaQOVKHAXr3t7txgBjboSvB8EpLoFZywOAo3LFE5lYs/QW9LT1TRk1V7S2xYJADs=);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 13px;
}